nnrpd doesn't return 420 errors for XOVER

**Reported by iulius on 27 Dec 2008 09:28 UTC**
According to RFC 2980, section 2.8:

   If no articles are in the range specified, a 420 error response is returned by the server.

nnrpd (from the beginning of the XOVER command) has always returned a 224 response with an empty multiline response instead.

Note that the OVER command properly returns 423 (no articles in that range) when that case occurs.  420 is sent when the current article number is invalid.

Impact:  Less information is communicated to the client about why there are no overview records returned.  An error response indicating there are no valid articles in that range is possibly more informative.

There is probably no way to fix this now.  Changing the reply codes would break a few existing implementations:  it may confuse some clients that don't expect to get 420 errors back from overview queries.  Clients may be relying on the existing behavior (confirmed with Outlook Express/Windows Mail for instance).


**Modified by iulius on 27 Dec 2008 09:28 UTC**

**Comment by iulius on 27 Dec 2008 09:55 UTC**
Regarding XHDR, nnrpd does not use 420 either but RFC 2980 makes this behaviour acceptable:

   Some implementations will return "(none)" followed by a period on a line by itself if no headers match in any of the articles searched.
   Others return the 221 response code followed by a period on a line by itself.
