Reply codes other than x9x used for private extensions XBATCH and XGTITLE

**Reported by iulius on 25 Dec 2008 20:09 UTC**
RFC 3977, section 3.2:

    Response codes not specified in this standard MAY be used for any installation-specific additional commands also not specified.  These SHOULD be chosen to fit the pattern of x9x specified above.

INN uses quite a few response codes that do not fit this pattern for various extensions.  XBATCH and XGTITLE should have used response codes in the x9x range.

Impact:  Additional ambiguity over the meaning of reply codes, as those reply codes could later be standardized as the reply codes for other commands.

For XGTITLE and probably XBATCH, there is no way to fix this now.  Changing the reply codes would break all existing implementations.


**Comment by iulius on 25 Dec 2008 20:12 UTC**
Note that XGTITLE is properly implemented according to (alsmost obsolete) RFC 2980.

Response codes are:

      481 Groups and descriptions unavailable
      282 List of groups and descriptions follows


**Comment by iulius on 25 Dec 2008 20:15 UTC**
XBATCH has never been officially documented in an Internet-Draft and should probably be.  See ticket #106.