innd and nnrpd do not advertise IHAVE for the entire session

**Reported by iulius on 27 Dec 2008 09:32 UTC**
According to RFC 3977, section 3.4.1:

    Except as an effect of the MODE READER command (Section 5.3) on a mode-switching server, once a server advertises either or both of the IHAVE or READER capabilities, it MUST continue to advertise them for the entire session.

If IHAVE has been advertised, it will not necessarily be advertised for the entire session.  innd and nnrpd only advertise the IHAVE capability when it is really available.

Impact:  Probably none.  It is sort of a weird edge case, since having such basic commands disappear after authentication is a little odd and would require an unusual configuration.  It is probably not worth fixing.  Besides, such a fix seems to partly defeat the point of the capability system.


**Modified by iulius on 27 Dec 2008 09:32 UTC**